/* You can add global styles to this file, and also import other style files */

input.form-control {
	background: #eee;
}

.search-field {
    margin-bottom: 10px;
}

.align-right {
	text-align: right;
}
